*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Dana;
    background-color: rgba(105, 105, 105, 0.692);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: dimgray;
    color: #fff;
}
.nav-links a{
    color: #fff;
}
.logo{
    font-size: 36px;
    font-weight: 700;
}
.menu{
    display: flex;
    gap: 2em;
    font-size: 20px;
}
.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 3px;
    transition: .2s ease;
}
.menu li{
    padding: 5px 14px;
}
.services{
    position: relative;
}
.dropdown{
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 110px;
}